<div class="contact_me">
    <h3>Formulario de contacto</h3>
    <p>Por favor, no dudes en contactarme <angular-emojis [name]="'sunglasses'" size="30"> </angular-emojis> <angular-emojis [name]="'ok_hand'" size="30"> </angular-emojis> </p>
    <form [formGroup]="frmContactMe" (ngSubmit)="sendEmail()">
        <div class="form-group">
            <label for="">Nombre completo</label>
            <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese su nombre completo">
            <div class="invalid-feedback d-block" *ngIf="form.nombre.errors && form.nombre.dirty">
                <div *ngIf="form.nombre.errors.required">Este campo es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="" id="" class="form-control" formControlName="email" placeholder="Ingrese su mail">
            <div class="invalid-feedback d-block" *ngIf="form.email.errors && form.email.dirty">
                <div *ngIf="form.email.errors.required">Este campo es requerido</div>
                <div *ngIf="form.email.errors.email">Email incorrecto</div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Comentario</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control" formControlName="comentario"></textarea>
            <div class="invalid-feedback d-block" *ngIf="form.comentario.errors && form.comentario.dirty">
                <div *ngIf="form.comentario.errors.minlength">Comentario incompleto</div>
                <div *ngIf="form.comentario.errors.required">Este campo es requerido</div>
            </div>
        </div>
        <input type="submit" [disabled]="frmContactMe.invalid" value="Enviar" class="btn_jobs" data-toggle="modal" data-target="#loading">
    </form>
    <!-- Modal -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeLoading>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="https://cdn.dribbble.com/users/902865/screenshots/4814970/loading-opaque.gif" id="loadingImg" alt="" srcset="">
          </div>
        
      </div>
    </div>
  </div>
</div>

