<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{nav_red: themeColor == 'red', nav_blue: themeColor == 'blue', nav_green: themeColor == 'green', nav_auri: themeColor == 'auri'}">
  <a class="navbar-brand text-white" [routerLink]="['/']"><i class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-white">Sobre mí <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a routerLink="/studies" routerLinkActive="activo" class="nav-link text-white">Estudios</a>
      </li>
      <li class="nav-item">
        <a routerLink="/experience" routerLinkActive="activo" class="nav-link text-white">Experiencia</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact-me" routerLinkActive="activo" class="nav-link text-white">Contacto</a>
      </li>
    </ul>

    <img src="../../../assets/logo.png" alt="" srcset="" class="logo">
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
