nav{
    background-color: #0a4275;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-link{
    transition: all 300ms;
    border-radius: 10px;
    cursor: pointer !important;
}

.nav-link:hover{
    background-color: #fff;
    
    color: #000 !important;
}