<div class="text-center" style="margin-top: 60px;">
    <h3>Francisco Rojo Web</h3>
    <p>Ingeniero en informática</p>
    <div class="imagen">
        <img src="https://franciscorojoweb.netlify.app/assets/img/perfil.JPG" class="rounded mx-auto d-block" alt="...">
    </div>
    <div class="description_aboutMe">
        <p class="greetings">Hola, me llamo <span class="name">Francisco Rojo</span></p>
        <p class="greetings">Soy Desarrollador Web Full Stack <angular-emojis> </angular-emojis></p> 
         
    </div>
    
</div>
<div class="container-info">
    <div class="row" style="width: 100%;">
        <div class="col-md-6">
            <h5 class="title-h4" [ngClass]="{title_h4_red: themeColor == 'red', title_h4_green: themeColor == 'green', title_h4_blue: themeColor == 'blue'}">Ubicación</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.770631432007!2d-71.33560838535345!3d-29.986021135521106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9691c9286ab43a6f%3A0xaa7b65a15e69814a!2sMario%20Fern%C3%A1ndez%20389%2C%20Coquimbo!5e0!3m2!1ses!2scl!4v1626615848579!5m2!1ses!2scl" width="500" height="440" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-6">
            <h4 class="title-h4" [ngClass]="{title_h4_red: themeColor == 'red', title_h4_green: themeColor == 'green', title_h4_blue: themeColor == 'blue'}">Información de contacto</h4>
            <div class="text-justify">
                <p>Titulado de Ingeniería en Informática en el Instituto Profesional Santo Tomas, sede La Serena.<angular-emojis [name]="'school'" size="30"> </angular-emojis><angular-emojis [name]="'arrow_up'"></angular-emojis> </p>
                <p>Tengo 32 años y vivo en Coquimbo, Chile.<angular-emojis [name]="'wink'" size="30"> </angular-emojis> </p>
                <p>Mis metas en el ámbito profesional son las de seguir aprendiendo nuevas técnicas de programación y poder aportar todos mis conocimientos en función de la empresa.<angular-emojis [name]="'nerd_face'" size="30"></angular-emojis> </p>
                <p>Mis metas en el ámbito personal son las de seguir creciendo tanto como persona, aprender del trabajo grupal y conocer nuevas personas, siempre con la predisposición de mejora. <angular-emojis [name]="'sunglasses'" size="30"> </angular-emojis></p>
                
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-md-5">
                    <p class="title-h4" [ngClass]="{title_h4_red: themeColor == 'red', title_h4_green: themeColor == 'green', title_h4_blue: themeColor == 'blue'}">Hobbies</p>
                    <ul>
                        <li>Programar<angular-emojis [name]="'computer'" size="20"></angular-emojis> </li>
                        <li>Tocar guitarra <angular-emojis [name]="'guitar'" size="20"></angular-emojis></li> 
                        <li>Jugar futbol <angular-emojis [name]="'soccer'" size="20"></angular-emojis></li> 
                        <li>Viajar <angular-emojis [name]="'airplane'" size="20"></angular-emojis></li> 
                        <li>Ver series<angular-emojis [name]="'tv'" size="20"></angular-emojis> </li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <p class="title-h4" [ngClass]="{title_h4_red: themeColor == 'red', title_h4_green: themeColor == 'green', title_h4_blue: themeColor == 'blue'}">Skills</p>
                    <ul>
                        <li>Resolución de problemas </li>
                        <li>Análisis orientado a objetos</li>
                        <li>Gestión y creación de Api Rest  </li>
                        <li>Buenas prácticas de código </li>
                        <li>Implementación de patrones de diseño en el código</li>
                        <li>Generación de código testeable, modular y facil de mantener</li>
                    </ul>
                </div>
                </div>
        </div>
    </div>
    <hr>
    <div class="description_contactMe">
        <button [routerLink]="['/experience']" class="btn_jobs">Ve mis trabajos <i class="fas fa-arrow-right"></i></button>
        <a class="btn_contactMe" href="tel:+56953980899">Contáctame <i class="fas fa-phone-alt"></i></a> 
    </div>
</div>

