<div class="content">
    <h3 [ngClass]="{title_page_red: themeColor == 'red', title_page_green: themeColor == 'green', title_h4_blue: themeColor == 'blue', title_h4_auri: themeColor == 'auri'}">Mis inicios</h3>

    <h5 class="mb-5">Epoca de universidad</h5>
    <p class="text-justify"><strong>¡Hola!</strong>  Mi nombre es <span style="color: brown; text-decoration: underline; font-weight: bold;">Francisco Rojo</span>  y soy <span style="text-decoration: underline;">Desarrollador web.</span>  Mis inicios en la informática parten desde el año 2007 cuando ingrese a la 
        Universidad del Mar a estudiar <span style="text-decoration: underline; font-weight: bold;">Ingeniería civíl en computación e informática</span> . En aquellos tiempos empezámos con lenguajes clásicos como Pascal y C, luego pasamos
        a Java. Tambien se aplicaban herramientas de ofimática como Excel, Word y Access.
    </p>
    <p class="text-justify">En el año 2013 por razones personales comence a estudiar nuevamente Ingeniería en Informática pero en el Instituto Profesional Santo Tomas en La Serena.
        En ese tiempo comencé a conocer lo que era la programación web con Java, Java EE. Otro lenguaje conocido fue PHP.<angular-emojis [name]="'nerd_face'" size="20"></angular-emojis>
    </p>
    <p class="text-justify">La culminación de mis estudias fue en el año 2019 cuando presenté un proyecto que consistía en el desarrollo de un <span style="text-decoration: underline;">Software como Servicio (SaaS)</span> .
        Para empezár el proyecto consistía en dos aplicaciones. Una que funciona como servidor y otra como cliente. El servidor fue desarrollado con Java Web y el 
        cliente consistía en una aplicación móvil híbrida utilizando el framework Ionic. La función principal era que en la aplicación móvil se mostrará
        un catalogo de productos y servicios que podian ser reservados para que posteriormente el usuario pueda retirarlo en tienda. Todas estas transacciones
        eran registradas en el servidor y almacenadas en una base de datos Mysql.  <angular-emojis [name]="'computer'" size="20"></angular-emojis>
    </p>
    <p class="text-justify">Ambas aplicaciones estan en mi repositorio <a href="#">Github</a> <angular-emojis [name]="'arrow_left'"></angular-emojis> </p>
    <hr>
    <h5>Post Universidad</h5>
    <p class="text-justify">Finalizada mi etapa en la universidad realicé dos cursos master impartidos por Victor Robles adquiridos por la plataforma Udemy. El primero de ellos
        consistía en un master en javascript y otro un master en php. Ambos cursos fueron finalizados. <a id="go_bottom" style="text-decoration: underline; cursor: pointer; color: #7996ce;">(Ver más abajo)</a>  <angular-emojis [name]="'arrow_down'" size="30"></angular-emojis>
    </p>
    <p class="text-justify">Desde Junio del 2021 hasta Septiembre de 2021 me desempeñé como encargado de informática en la empresa "Serco Logistics" en la cual prestaba servicios informáticos como mantención de servidores, respaldo de Información,
        revisión de impresoras conectadas en red, etc.
    </p>
    <hr>

<div class="row" style="width: 100%;">
    <div class="col-md-6">
        <div>
            <p class="title-h4" [ngClass]="{title_h4_red: themeColor == 'red', title_h4_green: themeColor == 'green', title_h4_blue: themeColor == 'blue', title_h4_auri: themeColor == 'auri'}">Framework para Javascript conocidos</p>
            <ul>
                <li>Angular 9</li>
                <li>Angular 11</li>
                <li>Express</li>
            </ul>
        </div>
        <img src="{{urlImage_1}}" alt="" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">
    </div>
    <div class="col-md-6">
        <div>
            <p class="title-h4" [ngClass]="{title_h4_red: themeColor == 'red', title_h4_green: themeColor == 'green', title_h4_blue: themeColor == 'blue', title_h4_auri: themeColor == 'auri'}">Framework para PHP conocidos</p>
            <ul>
                <li>Laravel</li>
                <li>Symphony</li>
                <li>Wordpress</li>
            </ul>
        </div>
        <img src="{{urlImage_2}}" alt="" data-toggle="modal" data-target="#exampleModal2" style="cursor: pointer;">
    </div>
</div>
</div>

<!--Modal imagen-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{urlImage_1}}" alt="" srcset="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{urlImage_2}}" alt="" srcset="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


