<div class="content text-justify">
    <h3>Mis inicios</h3>

    <h5>Epoca de universidad</h5>
    <p><strong>¡Hola!</strong>  Mi nombre es <span style="color: brown; text-decoration: underline;">Francisco Rojo</span>  y soy <span style="text-decoration: underline;">desarrollador web.</span>  Mis inicios en la informática parten desde el año 2007 cuando ingrese a la 
        Universidad del Mar a estudiar <span style="text-decoration: underline;">Ingeniería civíl en computación e informática</span> . En aquellos tiempos empezámos con lenguajes clásicos como Pascal y C, luego pasamos
        a Java. Tambien se aplicaban herramientas de ofimática como Excel, Word y Access.
    </p>
    <p>En el año 2013 por razones personales comence a estudiar nuevamente Ingeniería en Informática pero en el Instituto Profesional Santo Tomas en La Serena.
        En ese tiempo comencé a conocer lo que era la programación web con Java, Java EE. Otro lenguaje conocido fue PHP.
    </p>
    <p>La culminación de mis estudias fue en el año 2019 cuando presenté un proyecto que consistía en el desarrollo de un software como servicio (SaaS).
        Para empezár el proyecto consistía en dos aplicaciones. Una que funciona como servidor y otra como cliente. El servidor fue desarrollado con Java Web y el 
        cliente consistía en una aplicación móvil híbrida utilizando el framework Ionic. La función principal era que en la aplicación móvil se mostrará
        un catalogo de productos y servicios que podian ser reservados para que posteriormente el usuario pueda retirarlo en tienda. Todas estas transacciones
        eran registradas en el servidor y almacenadas en una base de datos Mysql.  
    </p>
    <p>Ambas aplicaciones estan en mi repositorio <a href="#">Github</a></p>
    <hr>
    <h5>Post Universidad</h5>
    <p></p>
    <hr>
</div>
<div class="row" style="width: 100%;">
    <div class="col-md-6">
        <div>
            <p>Framework para Javascript conocidos</p>
            <ul>
                <li>Angular 9</li>
                <li>Angular 11</li>
                <li>Express</li>
            </ul>
        </div>
        <img src="https://franciscorojoweb.netlify.app/assets/img/certificado-javascript.jpg" alt="">
    </div>
    <div class="col-md-6">
        <div>
            <p>Framework para PHP conocidos</p>
            <ul>
                <li>Laravel</li>
                <li>Symphony</li>
                <li>Wordpress</li>
            </ul>
        </div>
        <img src="https://franciscorojoweb.netlify.app/assets/img/certificado-master-php.jpg" alt="">
    </div>
</div>


