.content{
    width: 90%;
    margin: 0px auto;
    margin-top: 60px;
}

img{
    width: 100%;
}

.title-h4{
    background-color: #0a4275;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.title_h4_red{
    background-color: red;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.title_h4_green{
    background-color: #81cd57;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.title_h4_blue{
    background-color: #0a4275;
    text-align: center;
    padding: 10px;
    color: #fff;
}