
<div class="experiencia_aboutMe">
    <h4>Mi experiencia</h4>
    <p>A continuación te presento algunos de mis proyectos elaborados: <angular-emojis [name]="'fist_1'" size="30"></angular-emojis> </p>
    <div class="row" style="width: 100%;">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" *ngFor="let project of projects">
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="{{project.imgSrc}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{project.nombreProyecto}}</h5>
                  <p class="card-text">{{project.intro}}</p>
                  <a [routerLink]="['/experience/detail/',project.id]" class="btn_contactMe">Detalle</a>
                </div>
              </div>
        </div>

        </div>
</div>

