<div class="footer-two">
    <div class="row" style="width: 100%;">
        <div class="col-md-4">
            <h5 class="title-footer">Menú</h5>
            <ul>
                <li><a href="">Inicio</a> </li>
                <li><a href="">Estudios</a> </li>
                <li><a href="">Experiencia</a> </li>
                <li><a href="">Contácto</a> </li>
            </ul>
        </div>
        <div class="col-md-4" style="background-color: #0a4275;">
            <h5 class="title-footer">¿Donde nos ubicamos?</h5>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.770469723861!2d-71.33560838504341!3d-29.986025781903543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9691c9286ab43a6f%3A0xaa7b65a15e69814a!2sMario%20Fern%C3%A1ndez%20389%2C%20Coquimbo!5e0!3m2!1ses!2scl!4v1626474167557!5m2!1ses!2scl" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            
        </div>
        <div class="col-md-4">
            <h5 class="title-footer">Optimizado para</h5>
        </div>
    </div>
</div>
