

  #selector-theme{
    position: fixed;
    top:40%;
    background: rgba(51, 51, 51, 0.5);
    width: 50px;
    height: 125px;
	z-index: 100;
  }

#to-green,
#to-red,
#to-blue,
#to-auri{
	width: 25px;
	height: 25px;
	border: 1px solid white;
	display: block;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

#to-green{
	background: #81cd57;
}

#to-red{
	background: #CA3413;
}

#to-blue{
	background: #0a4275;
}

#to-auri{
	background: black;
}
